atomicwrites
attrs
colorama
easydict
entrypoints
et-xmlfile
flake8
flake8-import-order
importlib-metadata
jdcal
joblib
numpy
lap
mccabe
more-itertools
motmetrics
opencv-python
openpyxl
packaging
pandas
Pillow
pluggy
py
py-cpuinfo
pycodestyle
pyflakes
pyparsing
pytest
pytest-benchmark
python-dateutil
pytz
PyYAML
scikit-learn
scipy
six
sklearn
torch
torchvision
Vizer
wcwidth
xmltodict
zipp
